<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044873878116-tnffu2jo7lcl6fijtp3u206bltsdbhdg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044873878116-tnffu2jo7lcl6fijtp3u206bltsdbhdg</string>
	<key>API_KEY</key>
	<string>AIzaSyCeSgDs3Uw9nAWwScIHuN16buwry8UVkfw</string>
	<key>GCM_SENDER_ID</key>
	<string>1044873878116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simplextdigital.iosapp</string>
	<key>PROJECT_ID</key>
	<string>original-nomad-195806</string>
	<key>STORAGE_BUCKET</key>
	<string>original-nomad-195806.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044873878116:ios:849d9e26af4d08cadf5d71</string>
	<key>DATABASE_URL</key>
	<string>https://original-nomad-195806.firebaseio.com</string>
</dict>
</plist>